:root {
    --primary-color: #2c2094;
    --secondary-color: #eff1f1;
    --text-color: #000203fb;
    --background-color: #3d9db0;
    --button-hover: #dd1fa4;
    --font-body: "Chocolate Classical Sans", serif;
    --font-titulo: "Rakkas", serif;
}

/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-body);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

/* Centraliza o conteúdo do cabeçalho */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2.5rem; /* Tamanho maior para o título */
    margin-bottom: 20px;
}

img {
    width: 100%; /* Aumenta a imagem para preencher a largura disponível */
    max-width: 800px; /* Limita o tamanho máximo da imagem */
    margin-bottom: 20px;
}

/* Navegação */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: var(--primary-color);
    text-decoration: none;
}

.cta-button {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
}

.cta-button:hover {
    background-color: var(--button-hover);
}

/* Responsividade */
@media (max-width: 768px) {
    .conteudo {
        width: 90%;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 5px 0;
    }

    .cta-button {
        width: 100%;
    }
}